<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>ServJSP050</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <context-param> <!-- ServletContext Parameters.  Accessible to all Servelts and JSPs within an application. -->
  	<param-name>driver</param-name>
  	<param-value>oracle.jdbc.OracleDriver</param-value>
  </context-param>
  <context-param>
  	<param-name>url</param-name>
  	<param-value>jdbc:oracle:thin:@localhost:1521:XE</param-value>
  </context-param>
  <context-param>
  	<param-name>userName</param-name>
  	<param-value>sac100</param-value>
  </context-param>
   <context-param>
  	<param-name>password</param-name>
  	<param-value>Newuser123</param-value>
  </context-param>
  
  <servlet>
  		<servlet-name>MyServlet</servlet-name>
  		<servlet-class>servlets.MyServlet</servlet-class>
  		<init-param>
  			<param-name>myData</param-name>
  			<param-value>xxxx</param-value>
  		</init-param>
  </servlet>
  <servlet-mapping>
  		<servlet-name>MyServlet</servlet-name>
  		<url-pattern>/MyServlet</url-pattern>
  </servlet-mapping>
</web-app>